<div class='task'>
  <strong>Tarefa: </strong>
  <%= task_desc.description %> |

  <strong>Prazo</strong>
  | <%= data_br(task_desc.date) %> |

  <strong>ID</strong>
  | <%= task_desc.id %> |

</div>
